body {
    background-image: url('obmc.png');
}

.page-header {
      color: rgb(248, 244, 244);
      padding: 50px 20px;
      text-align: center;
}

.page-header h1 {
    font-weight: 500;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.btn-submit {
    background-color: #3b3b3f;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 500;
    color: #ffffff;
}

.btn-submit:hover {
    background-color: #ffffff;
    color: #3b3b3f;
}